:root {
     --font: 'Poppins';
     --font2: 'Montserrat';
     --color1: #FAFAFA;
     --color2: #325A5E;
     --color3: #fff;
     --color4: #E8A558;
}

/* MAIN */
*{
     box-sizing: border-box;
     margin: 0 20px;
     padding: 0;
}

html{
     scroll-behavior: smooth;
     scrollbar-width: none;
}

body {
     background-color: var(--color1);
     display: grid;
     grid-template-areas: 
     'header'
     'form'
     ;
     grid-template-columns: 1fr;
     grid-template-rows: 4fr 8fr;
     -ms-overflow-style: none;
     scrollbar-width: none;
     overflow-x: hidden;
}

body::-webkit-scrollbar{
     display: none;
}

/* Header */

header{
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('assetimg/Rectangle16.png');
     width: 1440px;
     height: 740px;
     background-size: cover;
     margin: 0 -60px;
     grid-area: 'header';
     background-color: #E8A558;
}

header .navbar{
     padding: 0 60px;
     display: flex;
     align-items: center;
}

.logo{
     padding-top: 20px;
}

.wrap-list .item{
     display: inline-block;
}

.item a{
     font-family: var(--font);
     font-size: 18px;
     font-weight: 600;
     list-style: none;
     text-decoration: none;
     color: var(--color1);
}

#active a{
     color: #E8A558;
}

.item:hover a{
     color: var(--color4);
}

.text{
     margin-top: 40px;
     margin-left: 110px;
}

.text h1{

     color: var(--color1);
     font-size: 56px;
     font-family: var(--font);
}

.text p{
     margin-bottom: 40px;
     padding-top: 10px;
     font-family: var(--font2);
     font-weight: 400;
     font-size: 20px;
     color: var(--color1);
}

button{
     background-color: #E8A558;
     width: 165px;
     height: 46px;
     border-radius: 25px;
     border: none;
}

button:hover{
     border: solid var(--color4);
     background: none;
     color: #E8A558;
}

button a{
     font-family: var(--font);
     font-weight: 600;
     color: #fff;
     text-decoration: none;
     font-size: 18px;
}



/* form */
.form{
     margin-top: 60px;
}

.title{
     margin-bottom: 60px;
     font-size: 36px;
     color: var(--color2);
     font-family: var(--font);
     text-transform: capitalize;
}

.satu{
     margin-left: -10px;
     background-color: #E8A558;
     width: 165px;
     height: 46px;
     border-radius: 20px;
     border: none;
     margin-bottom: 40px;
     font-size: 16px;
     color: var(--color1);
     font-weight: 600;
     font-family: var(--font);
     text-transform: capitalize;
}

.tl{
     font-size: 26px;
     color: var(--color2);
     font-family: var(--font);
     text-transform: capitalize;
}

.input-t{
     font-size: 26px;
     color: var(--color2);
     font-family: var(--font);
     text-transform: capitalize;
}

.inputti{
     width: 485px;
     height: 65px;
     border-radius: 20px;
     opacity: 80%;
     margin-top: 20px;
     margin-bottom: 40px;
     border: solid var(--color2);
     background :none;
}

.input-t1{
     font-size: 26px;
     color: var(--color2);
     font-family: var(--font);
     text-transform: capitalize;
}

.inputtii{
     width: 485px;
     height: 65px;
     border-radius: 20px;
     opacity: 80%;
     margin-top: 20px;
     margin-bottom: 40px;
     border: solid var(--color2);
     background :none;
}

hr {
     color: var(--color2);
     margin-bottom: 40px;
}

.ttl{
     margin-bottom: 60px;
     font-size: 36px;
     color: var(--color2);
     font-family: var(--font);
     text-transform: capitalize;
}

